<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Progress in progress</h1>
    <p>Try to use vin check /vin-info/{your vin}</p>
</body>
</html>