<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VIN results</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Vin results for Vin <span><%= vin %></span></h1>
    <div class="vin-result">
        <%- vinResult %>
    </div>
</body>
</html>